#define TAP_DANCE_TERM_MS 200

/* Shift keys tap dance - left and right */
ZMK_TAP_DANCE(left_shift,
    tapping-term-ms = <TAP_DANCE_TERM_MS>;
    bindings = <&hml LSHFT LPAR>, <&caps_word>;
)
ZMK_TAP_DANCE(right_shift,
    tapping-term-ms = <TAP_DANCE_TERM_MS>;
    bindings = <&hmr RSHFT RPAR>, <&caps_word>;
)

/* Bracket keys tap dance - left and right */
ZMK_TAP_DANCE(left_bkt,
    tapping-term-ms = <TAP_DANCE_TERM_MS>;
    bindings = <&hml LS(LC(LA(LGUI))) LBKT>, <&kp LBRC>, <&kp LPAR>;
)
ZMK_TAP_DANCE(right_bkt,
    tapping-term-ms = <TAP_DANCE_TERM_MS>;
    bindings = <&hml RS(RC(RA(RGUI))) RBKT>, <&kp RBRC>, <&kp RPAR>;
)
